<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!terms"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="terms">
  <thead>
    <tr>
      <th>Total</th>
      <th>Interest</th>
      <th>Amortized</th>
      <th>RemainingCapital</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let term of terms">
      <td>{{term.interest}}</td>
      <td>{{term.totalAmount}}</td>
      <td>{{term.amortizedCapital}}</td>
      <td>{{term.remainingCapital}}</td>
    </tr>
  </tbody>
</table>
